html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: silver;
    height: 5vh;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid grey;
    margin-bottom: 1em;
}

main {
    width: 100%;
    max-height: 88vh;
    background: white;
    overflow: auto;
    display: flex;
    flex-flow: row;
}

footer {
    width: 100%;
    background: grey;
    height: 5vh;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid dimgrey;
}

.trackBin {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    min-height: 85vh;
}

.selectList {
    width: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 85vh;
}

.selectListCont {
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backgroundImgDiv {
    position: absolute;
}

.backgroundImg {
    height: 80vh;
    width: 100%;
    opacity: 0.19;
}

.copy {
    margin-left: 4em;
    transform: translateY(50%);
}

.trackBinCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.buttonStyle {
    background: dimgrey;
    color: gainsboro;
    padding: 0.85em;
    margin: 1em;
    font-size: 130%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}

button:hover {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-1.75%) translateX(-1%);
}

.coverArt {
    width: 14.5vw;
    height: 14.5vw;
}

.mainTrackListCont {
    height: 185px;
    overflow: scroll;
}

.mainTrackList {
    padding-top: 4px;
    width: 215%;
    height: 185px;
    margin: 1em;
    overflow: auto;
}

.trackListTile {
    float: left;
    height: 150px;
    width: 150px;
    margin-left: 1em;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}

.trackListTile:hover {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-1.75%) translateX(-1%);
}

.trackListBin {
    border: 3px solid black;
    border-radius: 15px;
    background-color: grey;
    padding: 0.5em;
    height: 200px;
    width: 400px;
    margin: 1em 1em 1em 3em;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}

.songListBin {
    border: 3px solid black;
    border-radius: 15px;
    background-color: grey;
    padding: 0.5em;
    height: 200px;
    width: 400px;
    margin: 1em 1em 1em 3em;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}

.btnDiv {
    clear: both;
}

.binContainer {
    display: flex;
    flex-flow: row;
}